@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenidos</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Prueba de Hector Leiva</h2>
        <p>
            Prueba realizada en ASP.NET MVC
        </p>

    </div>

</div>